<main>
    <h1 class="text-center text-uppercase"> Hallo world</h1>
    <h2 class="text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted"> Hallo world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>
    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase"> Button primary</span>
    </button>

    <hr>

    <button class="btn btn-secondary">
        <span class="text-lowercase"> Button secondary</span>
    </button>

    <hr>

    <button class="btn btn-success">
        <span class="text-lowercase"> Button success</span>
    </button>

    <hr>

    <button class="btn btn-danger">
        <span class="text-capitalize"> Button danger</span>
    </button>

    <hr>

    <button class="btn btn-warning">
        <span class="text-capitalize"> Button warning</span>
    </button>

    <hr>

    <button class="btn btn-info">
        <span class="text-capitalize"> Button info</span>
    </button>

    <hr>

    <button class="btn btn-light">
        <span class="text-capitalize"> Button light</span>
    </button>

    <hr>

    <button class="btn btn-dark">
        <span class="text-capitalize"> Button dark</span>
    </button>

    <hr>

    <button class="btn btn-link">
        <span class="text-capitalize"> Button link</span>
    </button>

    <hr>

    <p class="text-primary">My text-primary</p>

    <p class="text-secondary">My text-secondary</p>

    <p class="text-muted">My text-muted</p>

    <p class="text-success">My text-success</p>

    <p class="text-danger">My tex-dangert</p>

    <p class="text-warning">My tex-warning</p>

    <p class="text-info">My tex-info</p>

    <p class="text-light">My tex-light</p>

    <p class="text-dark">My tex-dark</p>
    <hr>

    <button class="btn btn-outline-primary">
        <span class="text-uppercase"> Button-outline primary</span>
    </button>

    <hr>

    <button class="btn btn-outline-secondary">
        <span class="text-lowercase"> Button-outline secondary</span>
    </button>

    <hr>

    <button class="btn btn-outline-success">
        <span class="text-lowercase"> Button-outline success</span>
    </button>

    <hr>

    <button class="btn btn-outline-danger">
        <span class="text-capitalize"> Button-outline danger</span>
    </button>

    <hr>

    <button class="btn btn-outline-warning">
        <span class="text-capitalize"> Button-outline warning</span>
    </button>

    <hr>

    <button class="btn btn-outline-info">
        <span class="text-capitalize"> Button-outline info</span>
    </button>

    <hr>

    <button class="btn btn-outline-light">
        <span class="text-capitalize"> Button-outline light</span>
    </button>

    <hr>

    <button class="btn btn-outline-dark">
        <span class="text-capitalize"> Button-outline dark</span>
    </button>

    <hr>

    <button class="btn btn-outline-link">
        <span class="text-capitalize"> Button-outline link</span>
    </button>

    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-lg">
                <span class="text-uppercase"> Button-lg primary</span>
            </button>

            <button class="btn btn-secondary btn-sm">
                <span class="text-lowercase"> Button-sm secondary</span>
            </button>
        </div>
    </div>


    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content for "card and card-body"
        </div>
    </div>
</main>