{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="p-5">
    <h2>Список сторінок</h2>

    <p class="p-4">
        Hi! My name is Mykola. I am 25 year.
        I am civil engineer.I live in Kiyv.
        I born in Sarny.
    </p>

    <div class="mt-4">
        <a href="/summary" class="btn btn-primary" target="_blank">Summary</a>
    </div>

    <div class="mt-4">
        <a href="/skills" class="btn btn-primary" target="_blank">Skills</a>
    </div>

    <div class="mt-4">
        <a href="/education" class="btn btn-primary" target="_blank">Education</a>
    </div>

    <div class="mt-4">
        <a href="/work" class="btn btn-primary" target="_blank">Work</a>
    </div>

</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}